.footer {
  width: 100%;
  background: #ffffff;
  padding: 32px 104px 24px;
  box-sizing: border-box;
}

.footer__container {
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__copyright {
  font-size: 16px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  font-size: 18px;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 8px;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 16px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
  }

  .footer__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 18px;
  }
}
